<p id="notice"><%= notice %></p>

<div class="panel panel-primary">
  <div class="panel-heading"><h1>Show Pin</h1></div>
  <div class="panel-body">
</div>
<p>
  <strong>Description:</strong>
  <%= @pin.description %>
</p>

<%= link_to 'Edit', edit_pin_path(@pin), class: 'btn btn-primary' %> |
<%= link_to 'Back', pins_path, class: 'btn btn-primary' %>
